[submodule "contrib/embassy"]
	path = contrib/embassy
	url = git@github.com:embassy-rs/embassy.git
[submodule "contrib/async-mvar"]
	path = contrib/async-mvar
	url = git@tgrep.nl:folkert/async-mvar.git
[submodule "contrib/async-output-pin"]
	path = contrib/async-output-pin
	url = git@tgrep.nl:folkert/async-output-pin.git
[submodule "contrib/ccs811-async"]
	path = contrib/ccs811-async
	url = git@tgrep.nl:folkert/ccs811-async.git
[submodule "contrib/lis3dh"]
	path = contrib/lis3dh
	url = git@tgrep.nl:folkert/lis3dh.git
